// Variables
$gray: #ccc;
$lightgray: #eee;
$superlightgray: #fafafa;
$white: #fff;
$bodytext: #222;
$textgray: #545454;
$main-purple: #548;

$font: 'Source Sans Pro', sans-serif;
$box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);

// mixins
@mixin truncate($width:inherit) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}

// Base styles
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $bodytext;
  font-family: $font;
  margin: 0;
}

// Nav styles
nav {
  background-color: $main-purple;
  color: $white;
}

.mailboxes {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  .nav-item button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
    outline-offset: -3px;
    padding: 1.5rem 1rem;
    width: 100%;

    &.active {
      background-color: darken($main-purple, 10%);
    }
  }
}

// Email client styles
.email-client {
  background-color: $white;
  display: flex;
  height: 100vh;
}

.email-list-container {
  border-right: 1px solid $gray;
  flex: 1;
  min-width: 400px;
  overflow-y: auto;
}

.email-show-container {
  flex: 3;
}

.email-header {
  background-color: $white;
  color: $main-purple;
  font-weight: 400;
  margin: 0;
  padding: 0.5rem 0.75rem;
  position: sticky;
  top: 0;

  &.inbox-header {
    border-bottom: 1px solid $lightgray;
  }
}

.email-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.email-item {
  background: none;
  border: none;
  border-bottom: 1px solid $lightgray;
  cursor: pointer;
  display: block;
  font: inherit;
  outline-offset: -3px;
  padding: 0.5rem 0.75rem;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: $superlightgray;
  }

  p {
    margin: 0.2rem 0;
  }

  .email-subject {
    font-weight: bold;

    @include truncate();
  }

  .timestamp {
    font-size: 0.9rem;
  }

  .snippet {
    color: $textgray;
  }
}

.sender-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
